@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Roboto:wght@300;400;700&display=swap');



.container{
  
    font-family: 'Roboto', sans-serif;
   
    display: flex;
    width: 100%;
   height: 100%;
    background-image: url(https://img.freepik.com/foto-gratis/hombre-joven-fitness-estudio_7502-5008.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;   
}

.container:before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    opacity: 0.5;
}

.form{

    background-color: #fff;
    margin: auto;
    width: 50%;
    max-width: 350px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
    opacity: 0.8;
}
.form-title{
    font-size: 2rem;
    margin-bottom: .5rem;
}
.form-container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}
.form-group{
    position: relative;
    color: #5757577e;
}

.form-input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid #5757577e; 
    font-family: 'Roboto', sans-serif;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label
{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #3866f2;
}

.form-label{
    color: #5757577e;   
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
    cursor: pointer;
}
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label
{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #3866f2;
}

.form-label{
    color: #5757577e;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}
.form-submit{
    background: #3866f2;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
    cursor: pointer;
}

.form-line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #3866f2;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.form-input:focus ~ .form-line,
.form-input:not(:placeholder-shown) ~ .form-line {
    transform: scale(1);
}





@media (max-width:425px){
.form-title{
    font-size: 1.8rem;
}
}



// .login-container{
//     height: 25em;
//     width: 65em;
//     margin: 3em auto;
//     display: flex;
//     justify-content: center;
//     border-radius: 10px;
//     overflow: hidden;
//     background-attachment: fixed;
//     z-index: 1;
  
   
// }
// .login-info-container{
//     width: 50%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     text-align: center;    
//     padding: 0.5rem;
//     background-color: rgb(75,75,75);
//     border-radius: 10px;
   
// }

// .title{
    
//     font-size: 1.90rem;
//     font-weight: 600;
//     letter-spacing: 1px;
//     color: white;
    
    
// }

// .input-container{
   
//     height: 90%;
//     width: 90%;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
//     align-items: center;

// }
// .input, .btn{
//     width: 90%;
//     height: 3.125rem;
//     font-size: 1em;
// }
// .input{
//     padding-left: 20px;
//     border: none;
//     border-radius: 5px;
//     font-weight: 600;
//     letter-spacing: 1px;
//     box-sizing: border-box;
// }

// .input:hover{
//     border: 2px solid #674baf;
// }
// .span-container{
//     margin-left: 45%;
//     cursor: pointer;
// }

// .btn{
//     width: 80%;
//     letter-spacing: 1px;
//     text-transform: uppercase;
//     color:#fff;
//     border-radius: 5px;
//     background-color:#674baf ;
//     cursor: pointer;
//     border: none;
//     border-radius: 5px; 
    
// }

// .input-container p{
//     margin-left: 10%;


// }
// span{
//     cursor: pointer;
// }



