<body>
    <div class="container">
       
        <div class="login-container">
            <div class="login-info-container">
                <br>
                <h1 class="title">ADMINISTRACION GYM</h1>          
                <form class="input-container">
                    <input class="input" type="text" placeholder="Username">
                    <input class="input" type="password" placeholder="Passoword">
                    <button class="btn" >Login</button>
                </form>
            </div>
    
        </div>
    </div>
     



    
</body>