<body>
   
 
    <div class="container">
        <form class="form">
            <h2 class="form-title">GIMNACIO - CROSSFIT</h2>
            <h2 class="form-title">ENER GYM</h2>
            <div class="form-container">
                <div class="form-group">
                    <input class="form-input" type="text" placeholder=" ">
                    <label for="name" class="form-label">USUARIO</label>
                    <span class="form-line"></span>
                </div>
                <div class="form-group">
                    <input class="form-input" type="password" placeholder=" ">
                    <label for="password" class="form-label">PASSOWORD</label>
                    <span class="form-line"></span>
                </div>
                <input type="submit" class="form-submit" value="login">
            </div>
          

        </form>
    </div>
        

        <!-- <div class="login-container">
            <div class="login-info-container">
                <br>
                <h1 class="title">GIMNACIO - CROSSFIT</h1>
                <h2 class="title">ENER GYM</h2>          
                <form class="input-container">
                    <input class="input" type="text" placeholder="Username">
                    <input class="input" type="password" placeholder="Passoword">
                    <button class="btn" >Login</button>
                </form>
            </div>
    
        </div>  -->
   





</body>