<body>
   
 
    <div class="container">
        <form class="form">
            <h2 class="form-title">GIMNACIO - CROSSFIT</h2>
            <h2 class="form-title">ENER GYM</h2>
            <div class="form-container">
                <div class="form-group">
                    <input class="form-input" type="text" placeholder=" ">
                    <label for="name" class="form-label">USUARIO</label>
                    <span class="form-line"></span>
                </div>
                <div class="form-group">
                    <input class="form-input" type="password" placeholder=" ">
                    <label for="password" class="form-label">PASSOWORD</label>
                    <span class="form-line"></span>
                </div>
                <input type="submit" class="form-submit" value="login" routerLink="/home">
            </div>
          

        </form>
    </div>
        

    
   





</body>